<div class="row news">
  <div class="col-sm-12 col-md-12" ng-repeat="new in news">
    <div class="thumbnail">
      <img class="pull-left img-responsive col-xs-4 col-sm-2" ng-src="{{ new.image }}" alt="{{ new.title }}">
      <div class="caption col-xs-8 col-sm-10">
        <h3>{{ new.title }}</h3>
        <p>{{ new.content }}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>